<h1>Plots Index</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <b>Plot # <%= plot.number %></b><br>
    <p>Plot Size - <%= plot.size %></p>
    <p>Cardinal Direction - <%= plot.direction %></p>
    Plants-
    <ol><% plot.plants.each do |plant| %>
        <li> <%= plant.name %> </li>
    <% end %></ol>
  </div>
<% end %>